<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>круговая диаграмма</title>
</head>
<body>


<canvas id="oilChart" width="600" height="400"></canvas>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js">

</script>
<script>
    const oilCanvas = document.getElementById("oilChart");
    const labels = []
    const data = []

    {#Chart.defaults.global.defaultFontFamily = "Lato";#}
    {#Chart.defaults.global.defaultFontSize = 18;#}
    fetch('http://127.0.0.1:8000/pie_chart_universities/')
        .then((response) => {
            return response.json();
        })
        .then((responseData) => {
            for (let i = 0; i < Math.min(5, responseData.length); i++) {
                labels.push(responseData[i].short_name);
                data.push(responseData[i].sum);
            }

            const pieData = {
                labels,
                datasets: [
                    {
                        data,
                        backgroundColor: [
                            "#FF6384",
                            "#63FF84",
                            "#84FF63",
                            "#8463FF",
                            "#6384FF"
                        ]
                    }]
            };

            const pieChart = new Chart(oilCanvas, {
                type: 'pie',
                data: pieData
            });
        });


</script>
</html>