<html>
<head>

</head>
<body>
<div id="YMapsID" style="width: 450px; height: 350px;"></div>
</body>
<script src="https://api-maps.yandex.ru/2.1?apikey=INSERT_API_KEY_HERE&lang=ru_RU"
        type="text/javascript"></script>
<script>
    ymaps.ready(async function () {
        const myMap = new ymaps.Map("YMapsID", {
                center: [55.76, 37.64],
                zoom: 10
            }),
            objectManager = new ymaps.ObjectManager({
                clusterize: true,
                gridSize: 32,
                clusterDisableClickZoom: true
            });
        objectManager.objects.options.set('preset', 'islands#greenDotIcon');
        objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
        myMap.geoObjects.add(objectManager);

        let response = await fetch("http://127.0.0.1:8000/universities/");
        if (response.ok) {
            const universities = await response.json();
            for (let university of universities) {
                objectManager.add({
                    type: 'Feature',
                    id: Number(university.id),
                    geometry: {
                        type: 'Point',
                        coordinates: [Number(university.latitude), Number(university.longitude)]
                    },
                    properties: {
                        hintContent: 'univer name',
                        balloonContent: university.name
                    }
                });
            }
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    });


</script>
</html>